// Appliance status

let devices = {

    light: false,

    fan: false,

    tv: false,

    ac: false

};


// Toggle appliance

function toggleDevice(device) {

    // Change ON/OFF state

    devices[device] = !devices[device];


    // Find status element

    let status =
        document.getElementById(
            device + "Status"
        );


    // Find button

    let button =
        document.getElementById(
            device + "Button"
        );


    // Check status

    if (devices[device] === true) {

        // ON

        status.textContent = "ON";

        status.className = "on";

        button.textContent = "TURN OFF";


        console.log(
            device.toUpperCase() +
            " is ON"
        );

    }

    else {

        // OFF

        status.textContent = "OFF";

        status.className = "off";

        button.textContent = "TURN ON";


        console.log(
            device.toUpperCase() +
            " is OFF"
        );

    }

}
